PORT=3004

NODE_ENV=development

MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/assessment_db

JWT_ACCESS_SECRET=pokemon

USER_SERVICE_URL=http://localhost:3002

QUESTION_BANK_SERVICE_URL=http://localhost:3003

REQUEST_TIMEOUT=30000

SERVICE_TOKEN=placemux-service-token