PORT=3005
MONGO_URI=mongodb://localhost:27017/proctoring_db
JWT_ACCESS_SECRET=your_jwt_secret
SERVICE_TOKEN=your_service_token
ASSESSMENT_SERVICE_URL=http://localhost:3004
REQUEST_TIMEOUT=5000
NODE_ENV=development
