PORT=3000
AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
QUESTION_BANK_SERVICE_URL=http://localhost:3003
ASSESSMENT_SERVICE_URL=http://localhost:3004
EVALUATION_SERVICE_URL=http://localhost:3005
PROCTORING_SERVICE_URL=http://localhost:3006
